.footer-container{
    max-width: 1100px;
    margin: 0 auto;
    width:100%;
    display:flex;
    flex-wrap:nowrap;
    justify-content: space-between;
}
.site-footer{
    padding: 25px 50px;
    background-color: #000000;
    .site-info{
        width:50%;
        align-content:center;
        a{
            color: #ffffff;
            text-decoration: none;
            font-size: 24px;
            &:hover{
                opacity: .8;
            }
            &:visited{
                color: #ffffff;
            }
        }
        h4{
            color: #ffffff
        }
        i{
            color: #ffffff;
        }
    }
    .brewery-hours-location{
        display:flex;
        flex-wrap:nowrap;
        width: 50%;
        justify-content: flex-end;
        .address{
            h4{
                color: #fff;
                font-size: 24px;
                line-height: 26px;
                margin:0px 0px 15px;
            }
            a{
                color: #ffffff;
                text-decoration: none;
                font-size: 24px;
                line-height: 26px;
                &:hover{
                    opacity: .8;
                }
                &:visited{
                    color: #fff;
                }
            }
        }
        .hours{
            margin-left:25px;
            h4{
                color: #fff;
                font-size: 24px;
                line-height: 26px;
                margin:0px 0px 15px;
            }
            ul{
                list-style:none;
                padding: 0px;
                margin:0px;
                li{
                    padding:0px;
                    margin:0px;
                    color: #fff;
                    font-size: 18px;
                    line-height: 22px;
                }
            }
        }
    }
}

@media screen and (max-width: 768px){
    .site-footer{
        .footer-container{
            flex-wrap:wrap;
            .site-info{
                width:100%;
                margin-bottom:25px;
            }
            .brewery-hours-location{
                width: 100%;
            }
        }
        
        
    }
}